<br>
<div class="row">
	<div class="col-md-1 vote">

			<strong>Score: <%= @question.score %></strong>

		<span class="glyphicon glyphicon-chevron-up">
			<%= @question.get_upvotes.count %><%= link_to 'Upvote', like_question_path(@question), method: :put %>
		</span>

		<span class="glyphicon glyphicon-chevron-down">
			<%= @question.get_downvotes.count %>
			<%= link_to 'Downvote', dislike_question_path(@question), method: :put %>
		</span>

	</div>

	<div class="col-md-11 question">
		<h1><%= @question.title %></h1><br>
		<br>
		<strong>Body: </strong><%= @question.body %><br><br>
		<%= link_to 'delete question', question_path(@question), method: :delete  %>
	</div>


</div>

<div class="row">
	<div class="col-md-1 vote">
	</div>
	<div class="col-md-11 answer">
			<h3>Answer</h3>
				<% @question.answers.each do |answer| %>
				<div><%= answer.body %></div>
				<% end %>

	</div>






<h2>COMMENTS ON QUESTION</h2>

<% @comments.each do |comment| %>
	<strong>Body: </strong><%= comment.body %> <br> <br>
<% end %>




<%= link_to 'All Questions', root_path %>