<h1><%= @question.title %></h1><br> 

<h2>Upvotes/Downvotes</h2>

<p>
	<%= @question.votes_for.count %><%= link_to 'Upvote', like_question_path(@question), method: :put, class: 'btn btn-success btn-xs' %>
</p>


<p>
	<%= @question.get_dislikes.count %>
	<%= link_to 'Downvote', dislike_question_path(@question), method: :put, class: 'btn btn-danger btn-xs' %>

</p>


<strong>Body: </strong><%= @question.body %>


<br><br>

<h2> Answer Question </h2>
<%= link_to "Answer Question", new_answer_path(@question) %>

<h2>ANSWERS</h2>
<% @question.answers.each do |answer| %>
	<div><%= answer.body %></div>
<% end %>


<%= link_to 'All Questions', root_path %>