<br>
<div class="row">
	<div class="col-md-1 vote">

			<strong>Score: <%= @question.score %></strong>

		<span class="glyphicon glyphicon-chevron-up">
			<%= @question.get_upvotes.count %><%= link_to 'Upvote', like_question_path(@question), method: :put %>
		</span>

		<span class="glyphicon glyphicon-chevron-down">
			<%= @question.get_downvotes.count %>
			<%= link_to 'Downvote', dislike_question_path(@question), method: :put %>
		</span>

	</div>

	<div class="col-md-11 question">
		<h4>Question</h4>
		<h2><%= @question.title %></h2><br>
		<br>
		<%= @question.body %><br><br>
		<%= link_to 'delete question', question_path(@question), method: :delete  %>
			<h5>Comments</h5>

				<% @comments.each do |comment| %>
					<strong>Body: </strong><%= comment.body %> <br> <br>
				<% end %>
	</div>


</div>

<div class="row">
	<div class="col-md-1 vote">
	</div>
	<div class="col-md-11 answer">
			<h4>Answer</h4>
				<% @question.answers.each do |answer| %>
				<div><%= answer.body %></div>
				<% end %>

	</div>

