<h1><%= @question.title %></h1><br>

<h2>Upvotes/Downvotes</h2>

<p>
	<strong>Score: <%= @question.score %></strong>
</p>

<p>
	<%= @question.get_upvotes.count %>
	<%= link_to 'Upvote', like_question_path(@question), method: :put, class: 'btn btn-success btn-xs' %>
</p>

<p>
	<%= @question.get_downvotes.count %>
	<%= link_to 'Downvote', dislike_question_path(@question), method: :put, class: 'btn btn-danger btn-xs' %>
</p>


<strong>Body: </strong><%= @question.body %>


<br><br>


<strong>Body: </strong><%= @question.body %><br><br>
<%= link_to 'delete question', question_path(@question), method: :delete  %>


<h2>COMMENTS ON QUESTION</h2>

<% @comments.each do |comment| %>
	<strong>Body: </strong><%= comment.body %> <br> <br>
<% end %>


<h2> Answer Question </h2>
<%= link_to "Answer Question", new_question_answer_path(@question) %>

<h2>ANSWERS</h2>
<% @question.answers.each do |answer| %>
	<div><%= answer.body %></div>
<p><%= answer.get_upvotes.count %>

<%= link_to 'Upvote', like_question_answer_path(@question, answer), method: :put, class: 'btn btn-success btn-xs' %></p>
<p><%= answer.get_downvotes.count %>

<%= link_to 'Downvote', dislike_question_answer_path(@question, answer), method: :put, class: 'btn btn-danger btn-xs' %> </p>

<% end %>


<%= link_to 'All Questions', root_path %>