<h1>New Comment</h1>

<%= form_for @comment do |f| %>
	<!-- Using hidden fields to pass paramaters into the comment -->
	<%= f.hidden_field :question_id, value: params[:question_id] %>
	<%= f.hidden_field :answer_id, value: params[:answer_id] %>
	
	<p>
		<%= f.label :body %>
		<%= f.text_area :body, cols: 15, rows: 7 %>
	</p>
	
	<p>
		<%= f.submit %>
	</p>
<% end %>

<%= link_to '<< back', :back %>