<h1> User Profile Page </h2>

Welcome <%= @user.first_name %>
<%= @user.last_name %><br>

email: <%= @user.email %><br>
about me: <%= @user.bio %> <br>

user answer score: <%= @user.answers.count %>

<h2> latest Questions you posted </h2>
  <% @user.questions.each do |question| %>
    <%= link_to question.title %>
  <% end %>


<h2> latest answers you have posted </h2>
  <% @user.answers.each do |answer| %>
    <%= link_to answer.body %>
  <% end %>


<button><%= link_to 'edit profile', edit_user_registration_path %></button>